.App {
  font-family: sans-serif;
  text-align: center;
}

p {
  padding-right: 120px;
}

h1 {
  padding-left: 2px;
}

button {
  padding: 2px;
  width: 90px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}
